body {
	background: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/background.png?version=1&modificationDate=1268896312000);
	margin: 0 auto;
	text-align: center;
	font-family: Tahoma, Verdana, sans-serif;
}

#heading {
	background: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/bannerbackground.png?version=1&modificationDate=1268896312000);
	height: 50px;
}

#heading > img {
	height: 50px;
	margin: 0 auto;
}

#title {
	font-weight: bold;
	font-size: 24pt;
	font-family: Tahoma, Verdana, sans-serif;
	text-align: center;
}

#main {
	width: 800px;
	margin: 0 auto;
	border: 4px solid gray;
	text-align: left;
}

#comment-part {
	width: 550px;
	float: left;
	display: inline-block;
}

#comment-top {
	background: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/rottenbackground.png?version=1&modificationDate=1268896385000);
	font-family: Tahoma, Verdana, sans-serif;
	width: 550px;
	height: 83px;
	background-repeat: repeat-x;
}

#comment-top > img {
	float: left;
}

#red-big {
	color: red;
	font-size: 48pt;
	font-weight: bold;
}

#white-small {
	color: white;
	font-size: 8pt;
}

#column1 {
	margin-left: 2%;
	margin-top: 2%;
	display: inline;
	float: left;
	width: 47%;
}

#column2 {
	margin-right: 2%;
	margin-top: 2%;
	float: right;
	display: inline;
	width: 47%;
}

.comment {
	margin-bottom: 3em;
}

.comment-box {
	background-color: #E1D697;
	border: 2px solid gray;
}

.comment-box > p {
	font-weight: bold;
	font-size: 8pt;
	margin: 8px;
	display: inline-block;
}

.comment-box > p > img {
	float:left;
	margin-right: 5px;
}

.reviewer {
	font-size: 8pt;
}

.reviewer > img {
	float:left;
}

#intro-part {
	background-color: #A2B964;
	width:250px;
	display: inline-block;
}

dl {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	margin: 10px;
	text-align: left;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 1em;
}

#bottom-text {
	text-align: center;
	background-color: #A2B964;
	font-size: 12px;
	margin: 0px;
	padding: 5px;
}

#link {
	position: fixed;
	bottom: 0px;
	right: 0px;
}

#link > a > img {
	width: 80px;
}